@charset "UTF-8";
@font-face {
	font-family: Fonte;
	src: url(../fonte/Arsenal/Arsenal-Regular.ttf);
}
a {
	color:darkgreen;	
	text-decoration: none;		
	font-size: 1em;	
}
a:hover {
	color:darkgreen;
	text-decoration: underline;		
	font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;		
	color: #000;
	font-size: 1em;	
	padding: 5px 5px 5px 5px;
}
select, input, textarea, select:focus, input:focus, textarea:focus {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid#000;	
	font-size: 1em;	
	padding: 5px;
	width: 100%;
	resize: none;
}
.botao, input[type="button"], input[type="submit"] {
	border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid#000;	
	font-size: 1em;			
	resize: none;
	padding: 5px;	 
	width: 100px;
}
label {
	color: #000;			
	font-weight: lighter;	
}
p {
	text-align: justify;
	text-indent: 2em;
	padding: 10px;			
}
table {	
	table-layout: fixed;
	width: 50%;
	border-collapse: collapse;			
}
th, td {	
	padding: 5px;
	border:none;
}
* {
	font-weight: lighter;
	border-radius: 0px;
	box-sizing: border-box;		
}
html{
	height: 100%;
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
	width: 100%;
	background-color: #ffffff;	
	padding: 0px;
	text-transform: capitalize;
}
body {
	font-family: Fonte;	
	color: #000;
	font-size: 1em;
	margin: auto 0;
	padding: 0px;
	width: 100%;
    height:100%;
	background-color: #ffffff;	
}
.tela {
	margin: 0 auto;
	width: 100%;	
	padding: 0px;
	min-height: 100vh;
	background-color: #ffffff;
}

@media only screen and (max-width: 801px) {
	table, th, td {			
		width: 100%;			
	}	
}
.visitas {		
	text-align: center;		
} 
.sucesso {
	color: green; 
	text-align: center;
}
.erro {
	color: coral; 
	text-align: center;
}
div {    
	padding: 0px;
	display: inline-block;
}
.topnav {
	padding-top: 5px;
	padding-bottom: 15px;
	padding-right: 5px;
	padding-left: 5px;	
	overflow: hidden;
	background-color: #ffffff;
	width: 100%;	
	border-collapse: collapse;		
	border: none;
	color: #000;
	
	
}
.topnav a {	
	color:darkgreen;
	text-align: center;
	padding: 0px;
	text-decoration: none;
	font-size: 1em;	
	font-weight: lighter;
}
  
.topnav a:hover {
	text-decoration: underline;	
	color:darkgreen;
} 
.menu { 
	width: 300px;	
	padding: 0px;	
}
input[type="file"] {
	border: none;	
	border-radius: 0px;
}

.file::-webkit-file-upload-button {
	border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid#000;	
	font-size: 1em;			
	resize: none;
	padding: 5px;	 
	width: 150px;
}
  