/* Reset básico para todos os elementos */
* {
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    font-weight: normal;
    padding: 0px;    
    font-size: 18px;
    color: #333333;
}

/* Estilização de títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    padding: 5px;
    font-weight: normal;
    color: #333;    
}


/* Estilização de inputs, selects e textareas */
input,
select,
textarea,
input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #B6B6B6;
    padding: 5px;
    width: 100%;
    resize: none;
    text-align: left;
}


input[type="button"],
input[type="submit"] {
    outline: none;
    background-color: #D8D8D8; 
    text-decoration: underline;
    border: none;    
    resize: none;
    padding: 5px;
    max-width: 150px;
    width: 150px;
    text-align: center;
    cursor: pointer;
      
}

form{
    padding: 5px;
}

p {
    text-align: justify;
    text-indent: 2em;
}

table {
    table-layout: fixed;
    width: 900px;
    border-collapse: collapse;   
    margin-top: 5px; 
}

th,
td {    
    padding: 5px;
    border: none;
    text-align: left;
}

th {
    text-align: center;
}
tr {    
    height: 50px;
    min-height: 50px;    
}

.lista table {
    table-layout: fixed;
    width: 900px;   
    margin-top: 5px;
}

.lista tr {    
    height: 8px;    
}


.lista tr:nth-child(even) {
    background-color: #fff;
}

.lista td, .lista th {
    padding: 5px;
    
}

/* Todas as colunas exceto a última */
.lista td:not(:last-child),
.lista th:not(:last-child) {
    width: 40%;    
}

/* Última coluna */
.lista td:last-child,
.lista th:last-child {
    width: 20%;
    text-align: center;
}

.lista a {
    text-align: center;        
}

html,
body {
    min-height: 100%;
    width: 100%;    
    align-items: flex-start; /* Alinha ao topo */
    height: 100vh;    
    font-family: Arial, sans-serif;
    /* Cinza escuro */
    margin: auto 0;
    background-color: #D8D8D8;
}

.sucesso {
    text-align: center;
    color: #28a745;
}

.erro {
    color: #dc3545;
    text-align: center;
    margin: 0 auto;
}

input[type="file"] {
    border: none;
}

.file::-webkit-file-upload-button {
    outline: none;
    box-shadow: none;
    border: 1px solid #B6B6B6;
    resize: none;
    padding: 5px;
    width: 150px;
}

label,
span {    
    text-align: left;
}

span {
    margin: 0 auto;
    text-align: center;
}

.menu {  
    width: 100%;
    height: 35px;
    background-color: #D8D8D8; 
    padding: 0px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: underline;  
}

.site {  
    width: 100%;
    height: 25px;        
    padding: 0px 15px; 
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;  /* Centraliza horizontalmente */
}

.menu .menu_a {
    margin: 0 12.5px;
}

.botoes {
    background-color: #D8D8D8;
    padding-top: 5px;
    padding-bottom: 0px;    
    cursor: pointer;
    text-decoration: underline; 
    display: inline-block; /* Garantir que os elementos ocupem apenas o espaço necessário */
    text-align: center;
}

.botoes a {
    text-decoration: none; /* Remover decoração de texto para links */
    display: block; /* Garantir que os links ocupem todo o espaço do botão */
    padding: 5px 10px; /* Ajustar padding para alinhar com o conteúdo do botão */    
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;        
}

#cookieConsent {
    color: #579EBB;    
    text-align: center;
    padding-top: 10px;    
    font-family: Arial, sans-serif;
}

#cookieConsent button {
    margin: 0px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

#acceptCookies {
    background-color: #4CAF50;
    color: #D8D8D8;
    border: none;
    padding: 0px; 
    cursor: pointer;
    margin: 0 5px;
}

#declineCookies {
    background-color: #f44336;
    color: #D8D8D8; 
    border: none; 
    padding: 0px; 
    cursor: pointer; 
    margin: 0 5px;
}