* {
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: #3299bb;
    font-size: 18px;
}

select,
input,
textarea,
select:focus,
input:focus,
textarea:focus {
    color: #3299bb;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid #3299bb;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    resize: none;
    text-align: left;
    text-transform: capitalize;
}

.botao,
input[type="button"],
input[type="submit"] {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid #3299bb;
    font-size: 18px;
    resize: none;
    padding: 5px;
    width: 100px;
    color: #000;
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 2em;
}

table {
    table-layout: fixed;
    width: 700px;
    border-collapse: collapse;    
}

th,
td {
    padding: 5px;
    border: none;
    text-align: left;
}

th {
    font-weight: bold;
    text-align: center;
}

html {
    min-height: 100%;
    width: 100%;
    min-width: 1000px;
    background-color: #f5f5f5;
}

body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #3299bb;
    font-size: 18px;
    margin: auto 0;
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    background-color: #f5f5f5;
}

.sucesso {
    text-align: center;
}

.erro {
    color: coral;
    text-align: center;
    margin: 0 auto;
}

input[type="file"] {
    border: none;
    border-radius: 0px;
}

.file::-webkit-file-upload-button {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid #FFF;
    font-size: 18px;
    resize: none;
    padding: 5px;
    width: 150px;
}

label {
    color: #3299bb;
    text-align: left;
}

span {
    margin: 0 auto;
    text-align: center;
    color: #3299bb;
}

.menu {
    width: 100%;
    min-height: 30px;
    min-width: 100%;
    background-color: #3299bb;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

a:link,
a:visited,
a:active {
    text-decoration: none;
    font-weight: initial;
    color: #3299bb;
    font-size: 18px;
}

.menu .menu_a {
    text-decoration: none;
    font-weight: initial;
    color: #FFF;
    font-size: 18px;
}

.menu label {
    text-decoration: none;
    font-weight: initial;
    color: #FFF;    
    font-size: 18px;
}

a:hover {
    color: chocolate;
    text-decoration: none;
}